h1 {
  color: red;
  text-align: center;
  font-size: 50px;
  font-family: Comic sans-serif;
}

h2 {
  color: blue;
  font-style: italic;
  text-align: center;
  font-weight: heavy; 
}


p {
  font-family: sans-serif;
  line-height: 0in;
}

ul {
  font-size: 20px;
  line-height: 30px;
}